language: java
jdk:
  - oraclejdk7
  - oraclejdk8

# No need for preliminary install step.
install: true
#
# Run all integration tests.
script: 
  - "mvn -Prun-its --show-version --errors --batch-mode clean verify"
#
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - khmarbaise@apache.org
